.AuthNavigationItem {
    height: 50px;
    width: 25%;
    display: block;
    text-align: center;
    cursor: pointer;
}

.AuthNavigationItem .AuthNavLink {
    display: block;
    color: white;
    text-decoration: none;
    height: 47px;
    width: 100%;
}

.AuthNavigationItem img {
    display: block;
    height: 22px;
    padding: 12px 15px 13px 15px;
    margin: auto;
}

.AuthNavigationItem .AuthNavLink:hover, .AuthNavigationItem .AuthNavLink:active {
    border-bottom: 3px solid white ;
}

.AuthNavigationItem .ActiveLink{
    border-bottom: 3px solid white;
}

/*!*For DESKTOPS ONLY*!*/
/*@media only screen and (min-width: 800px) {*/
    /*.NavigationItems{*/
        /*width:60vw;*/
    /*}*/
    /*.AuthNavigationItem {*/
         /*width: 10vw;*/
     /*}*/

    /*.AuthNavigationItem .AuthNavLink {*/
        /*width: 10vw;*/
    /*}*/
/*}*/

/*!*For TABS ONLY*!*/
/*@media only screen and (min-width: 450px) and (max-width: 800px) {*/
    /*.NavigationItems{*/
        /*width:60vw;*/
    /*}*/

    /*.AuthNavigationItem {*/
        /*width: 14vw;*/
    /*}*/

    /*.AuthNavigationItem .AuthNavLink {*/
        /*width: 14vw;*/
    /*}*/
/*}*/
