
@import url('https://fonts.googleapis.com/css?family=Acme|Bitter|Lato|Mukta|Open+Sans|Quicksand|Raleway|Ubuntu');
.HotelBox {
    width: 100vw;
}


.HotelCard {
    width: 100%;
}

.HotelProfileCard {
    background-color: white;
}
.HotelAvatarHolder {
}

.HotelAvatar {
    width: 220px;
    height: 170px;
    margin: 50px auto 5px auto;
}

.HotelAvatar img {
    width: 220px;
    height: 170px;
    object-fit: cover;
    border: 2px solid var(--theme);
    margin: auto;
}


.HotelDetails {
    width: 96%;
    margin: 0 auto 40px auto;
}

.DetailsHeader {
    width: 100%;
    border-top: 1px solid silver;
    margin: 10px auto 0 auto;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bio);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.AllRatingsWrapperHotel {
    width: 300px;
    margin: 0 auto 20px auto;
}

.StatHolderHotel {
    width: 130px;
    margin: 0 auto 0 auto;
}
.StatHolderWrap {
    margin: 0 auto 20px auto;
}

.LocationBoxHotel {
    margin-top: 30px;
}

.AllReviewsBox {
    background-color: silver;
}

/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {
    .HotelBox {
        /*width: 60vw;*/
    }
    .AllRatingsWrapperHotel {
        width: 620px;
    }
    .DetailsHeader {
        width: 60vw;
    }
}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .HotelBox {
        /*width: 75vw;*/
    }
    .DetailsHeader {
         width: 75vw;
     }
}



