.RateContainer {
    width: 100%;
    display: block;
    height: 22px;
    margin-top: 5px;
}

.RateBox{
    position: relative;
    top: 0;
    left: 0;
    width: 116px;
    display: inline-block;
    height: 22px;
    float: left;
}

.RateSpan {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1.5px;
    background-color: white;
    float: left;
    border-radius: 20px;
    border: 1px solid var(--rateColor);
    box-sizing: border-box;
    z-index: 0;
}

.RateField {
    position: relative;
    top: 2px;
    left: 2px;
    height: 14px;
    width: 14px;
    display: block;
    background-color: transparent;
    border-radius: 14px;
    border: 2px solid var(--rateColor);
    z-index: 30;
    box-sizing: border-box;
}


.AvgRatingBox {
    display: inline-block;
    width: 3em;
    height: 22px;
}

.AvgRating  {
    display: block;
    font-size: 0.825em;
    font-weight: bold;
    color: var(--bio);
    margin: 4px auto;
    text-align: center;
    line-height: 0.825em;

}