.AllRatingsBox {
    width: 300px;
    margin: auto;
    transition: width 2s ease-in;
}

.MealRatingsBox {
}

.MealHeaderViewBox {
    margin-bottom: 0;
}
.MealItemBox {
    width: 300px;
    margin: auto;
}
.MealRateViewBox {
    background-color: var(--lightTheme);
    width: 300px;
    margin: auto;
}

.MealRatingsMain {
    width: 100%;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in;


}





/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {

}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {

}

