.AllRatingsBox {
    width: 100%;
    margin: auto;
    transition: width 2s ease-in;
}

.MealRatingsBox {
    transition: all 2s ease-in;
}

.MealRateViewBox {
    background-color: var(--lightTheme);
}

.MealRatingsMain {
    transform: translateX(10px);
}





/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {

}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {

}

