.Modal {
    position: absolute;
    height: auto;
    z-index: 35;
    background-color: var(--seto);
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 25px var(--chhaya);
    padding: 20px 0;
    left: 5%;
    top: 10%;
    transition: all 0.45s ease-out;
}


/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {
    .Modal{
        width: 60vw;
        left: 20vw;
    }


}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .Modal{
        width: 75vw;
        left: 12.5vw;
    }


}

