.Profile {
    width: 100%;
    margin: auto;
    color: var(--theme);
}



/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {
    .Profile{
        /*background-color: var(--complementary);*/
    }


}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .Profile{
        /*background-color: var(--complementary);*/
    }


}
