.HotelsNavSec {
    display: block;
    width: 100vw;
    height: 32px;
    border-bottom: 1px solid silver;
}



.HotelsLink  {
    display:block;
    text-align: center;
    color: #3D2B1F;
    padding: 9px 0;
    background-color: white;
    font-size: 0.8em;
    text-decoration: none;
    list-style-type: none;
    float:  left;
    font-family: Comfortaa, sans-serif;
    width: 33.33%;

}


.ActiveHotelsLink {
    color: var(--theme);
}





/*For DESKTOPS ONLY*/
@media only screen and (min-width: 800px) {
    .HotelsNavSec{
        width: 60vw;
        margin: auto;
    }


}

/*For TABS ONLY*/
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .HotelsNavSec{
        width: 75vw;
        margin: auto;
    }

}
