.RateViewBox{
    border : 1px solid silver;
    margin: 10px auto;
    padding: 10px 4px 8px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px gray;
    width: 300px;
    box-sizing: border-box;

}

.RateViewHeader {
    width: 100%;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
}

.RateViewBox .RateName {
    display: inline;
    font-size: 1.05em;
    color: var(--bio);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.MealRateView {
    background-color: var(--lightTheme);
}

.noOfRatings {
    font-size: 0.8em;
    display: inline;
    margin: 0 16px 0 6px;
    color: gray;
}

.RateViewFooter {
    margin: 8px 0 2px 0;
}



.RateViewFooter .RateOnlyWrapper {
    display: inline;
    margin: 2px auto 15px auto;
    width: 140px;
    float: left;
}

.AverageRating {
    font-size: 1.5em;
}