.AllHotelsBox {
    width: 100vw;
    margin: 0;
    height: auto;
}

.SmallHotelCardBox{
    width: 96%;
    margin: 10px auto;
    box-shadow: 0 0 8px var(--chhaya2);
    height: 100px;
    border-radius: 5px;
}

.HotelName {
    margin: 0;
}

.HotelLink {
    text-decoration: none;
    color: var(--bio);
}

.HotelLink:hover {
    color: var(--darkTheme);
}

.ImageBox {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
}

.ImageBox img {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
    margin: 0;
    float: left;

}

.DetailBox{
    width: calc(100% - 100px);
    float: right;
    padding: 5px;
    box-sizing: border-box;

}

.SmallHotelCardBox .HotelLocation{
    font-size: 0.8em;

}

.SmallHotelCardBox .RateOnlyWrapper {
    margin: 5px 0;
}

.HotelCardFooter{
    position: relative;
    width: 100%;
}

.ReviewNumber{
    display: inline;
    width: 80px;
    font-size: 0.85em;
    text-align: center;
    font-weight: bold;
    color: var(--bio);
}

.SmallHotelCardBox .ButtonWrapper {
    display: inline;
    margin-left: 10%;

}


.AlertMessage {
    text-align: center;
    color: var(--bio);
    margin: 10px auto 20px auto;
}

/*For DESKTOPS ONLY --60VW  */
@media only screen and (min-width: 800px) {

    .AllHotelsBox {
        width: 449px;
        margin: auto;
    }


}

/*For TABS ONLY -- 75VW  */
@media only screen and (min-width: 450px) and (max-width: 800px) {

    .AllHotelsBox {
        width: 449px;
        margin: auto;
    }

}



