




.Btn{
    margin: 20px auto 20px auto;
}


.Btn {
    color:var(--theme);
    background:rgba(255, 255, 255, 0.5);
    border: 2px solid var(--theme);
    position:relative;
    display:block;
    padding:1em 20vw;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:comfortaa, sans-serif;
    font-weight:bold
}
.Btn:before, .Btn:after {
    content:'';
    display:block;
    position:absolute;
    border-color:var(--theme);
    box-sizing:border-box;
    border-style:solid;
    width:1em;height:1em;
    transition:all 0.3s ease-in-out
}
.Btn:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
}
.Btn:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
}
.Btn:hover:before, .Btn:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color: var(--theme);
}
.Btn:hover {
    color:white;
    background-color:var(--theme);
    border-color:var(--theme);
    cursor: pointer;
}

/*For DESKTOPS*/
@media only screen and (min-width: 450px) {
    .Btn{
        padding:1em 10vw;
    }
}

/*For TABS*/
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .Btn{
    padding:1em 15vw;
    }
}
